.link-title-nav{
    font-family: 'Raleway';
    color: #2196F3;
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    text-align: right;
    letter-spacing: 00.03em;

    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
}
.link-nav-nav{
    font-family: 'Roboto';
    color: #2196F3;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;

    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
}
.link-nav{
    font-family: 'Roboto';
    color:  #212121;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;

    position: absolute;
    width: 65px;
    height: 16px;
    left: 552px;
    top: 32px;
}
.link-nav-1{
    font-family: 'Roboto';
    color:  #212121;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;

    position: absolute;
    width: 65px;
    height: 16px;
    left: 667px;
    top: 32px;
}
.link-nav-nav-1{
    font-family: 'Roboto';
    color: #2196F3;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;

    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
}
.link{
    font-family: 'Roboto';
    color:  #757575;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 00.02em;

    position: absolute;
    width: 118px;
    height: 16px;
    left: 1263px;
    top: 32px;
}
.button-header{
    font-family: 'Roboto';
    color: #FFFFFF;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

    width: 197px;
    height: 30px;

    text-align: center;
    letter-spacing: 0.03em; 
}
.title{
    width: 322px;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}
.title-1{
    width: 322px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 00.03em;
    color: #757575;
}
.p{
    width: 145px;
    height: 31px;
    top: 1688px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196f3;
}
.footer-a{
    width: 231px;
    height: 21px;
    top: 1733px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.footer-p1{
    width: 231px;
    height: 21px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.footer-p2{
    width: 231px;
    height: 21px;
    left: 215px;
    top: 129px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.footer-p3{
    width: 135px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 00.03em;
}